/* BookDetails.css */

.book-details {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .title h2 {
    margin-right: 10px;
    margin-bottom: 20px; 
  }
  
  .authors {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .published-date {
    margin-bottom: 10px;
  }
  
  .description {
    margin-bottom: 20px;
  }
  
  .thumbnail {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .preview-link {
    font-size: 16px;
    margin-top: 20px;
  }
  